<!DOCTYPE html>
<html lang="en">
  <head>
    <title> TinyURL </title>
    <center>
Welcome to TinyURL
  </head>
  <body style="font-size:20px; padding:50px;">
<br>
<b> Register </b>
    <form action="/register" method="POST" style="margin:150px;">
      <label for="email">E-mail</label>
      <input id="email" type="email" name="email"  style="width: 300px">
      <br><br>
    <form action="/register" method="POST" style="margin:150px;">
      <label for="password">Password</label>
      <input id="password" type="password" name="password"  style="width: 300px">
    <br><br>  <input type="submit" value="Submit">
    </form>
<br>
<br>
<br>
Already Have an account? Login <a href="/login"> here</a>


<center>
  </body>
</html>
